BODY
{
    COLOR: black;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    PADDING-RIGHT: 0px
}
H1
{
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    PADDING-RIGHT: 0px
}
H2
{
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    PADDING-RIGHT: 0px
}
P
{
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    PADDING-RIGHT: 0px
}
UL
{
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    PADDING-RIGHT: 0px
}
OL
{
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    PADDING-RIGHT: 0px
}
BODY
{
    FONT-FAMILY: Arial, sans-serif;
    COLOR: #333;
    BACKGROUND-COLOR: #f2f2f2
}
header
{
    COLOR: #fff;
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 20px;
    PADDING-LEFT: 20px;
    PADDING-RIGHT: 20px;
    BACKGROUND-COLOR: #333
}
nav UL
{
    LIST-STYLE-TYPE: none
}
nav UL LI
{
    DISPLAY: inline
}
nav UL LI A
{
    TEXT-DECORATION: none;
    COLOR: #fff;
    MARGIN-RIGHT: 10px
}
section
{
    PADDING-BOTTOM: 20px;
    PADDING-TOP: 20px;
    PADDING-LEFT: 20px;
    MARGIN: 20px;
    PADDING-RIGHT: 20px;
    BACKGROUND-COLOR: #fff
}
footer
{
    COLOR: #fff;
    PADDING-BOTTOM: 10px;
    TEXT-ALIGN: center;
    PADDING-TOP: 10px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    BACKGROUND-COLOR: #333
}
